/* GENERAL */
:root{
    --accent: #3d826f;
    --lightAccent: #E6F1EE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    overflow-x: hidden;
    color: black;
}
::-moz-selection {
    color: var(--accent);
    background: #c0d4cf;
}
::selection {
    color: var(--accent);
    background: #c0d4cf;
}

/* TEXTS */
h2{
    font-size: 40px;
}

/* BUTTONS */
button {
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 8px;
}
button a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button:has(a) {
    padding: 0;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


.accent-btn{
    background-color: var(--accent);
    color: white;
}

.lightaccent-btn{
    background-color: var(--lightAccent);
    color: black;
}

/* HEADER */
header {
    background-color: white;

    /* Blur background
    background-color: rgba(61, 130, 111, 0.2);    
    backdrop-filter: blur(40px);
    */

    border-bottom: 4px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}
nav ul li a:hover {
    color: var(--accent);
}
@media (width <= 750px) {
    header {
        display: none;
    }
}

/* FOOTER */
footer{
	height: auto;
	padding: 30px;
	background-color: var(--accent);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p{
	font-weight: 400;
    color: white;
}
footer a{
    cursor: pointer;
	font-weight: 400;
    color: white;
    text-decoration: none;
}
@media (max-width:720px) {
	footer{
		flex-direction: column;
	}
	footer p{
		text-align: center;
	}
}