:root {
    --swiper-navigation-color: var(--accent);
    --swiper-pagination-color: var(--accent);
    /* --swiper-navigation-sides-offset: */
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    height: 100vh;
}
.hero-right, .hero-left{
    position: absolute;
    transition: transform 0.1s ease-out;
    will-change: transform; 
}
.hero-left{
    width: 35%;
    left: 0;
    top: 30%;
}
.hero-right{
    width: 35%;
    right: 0;
    top: 20%;
}

.hero-title {
    font-size: 90px;
    font-size: 6vw;
    position: absolute;
    left: 10%;
    top: 40%;
}

.hero-title .first-name {
    color: var(--accent);
}

.hero-title .last-name {
    color: black;
}

.hero-buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.mobile-pp{
    display: none;
}

@media (width <= 930px) {
    .hero-left{
        width: 40%;
    }
    .hero-right{
        width: 40%;
    }
    .hero-buttons{
        width: 70%;
    }
}
@media (width <= 750px) {
    .hero-buttons {
        flex-direction: column;
        gap: 10px;
        transform: none;
        width: auto;
        bottom: 5vw;
        left: 5vw;
        right: 5vw;
    }
    .hero-left{
        display: none;
        width: 60%;
        top: 35vh;
    }
    .hero-right{
        display: none;
        width: 70%;
        top: 0px;
        transform: rotate(-20deg);
        right: -25%;
    }
    .hero-title {
        position: absolute;
        top: calc(10% * 2 + 50vw);
        left: 0;
        font-size: 8.5vw;
        width: 100%;
        text-align: center;
    }
    .first-name{
        font-size: 16vw;
    }
    .mobile-pp{
        display: initial;
        position: absolute;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
    .mobile-image{
        position: absolute;
        border-radius: 50%;
        z-index: 5;
        width: 100%;
    }
    .pp-star{
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        animation: ease-out star 3s infinite, linear wait 2s infinite;
        animation-delay: calc(var(--s) * 1000ms);
        background-color: var(--accent);
    }
    button{
        font-size: 15px;
        width: 100%;
    }
}

@keyframes star{
    0%{
        transform: translateX(0) rotate(0deg);
        border-radius: 50%;
    }
    50%{
        border-radius: 10%;
        opacity: 0;
        transform: translate(calc(var(--x) * 50vw / 100), calc(var(--y) * 50vw / 100)) rotate(180deg);
    }
    100%{
        opacity: 0;
    }
}

/* RECHERCHE */
.recherche{
    background-color: var(--lightAccent);
    width: 100%;
    padding: 10%;
}
.recherche p{
    margin: 20px 0;
}

/* COMPETENCES */
.competences{
    background-color: white;
    width: 100%;
    padding: 10%;
}
.competences-list{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.competence-categorie{
    padding: 30px 60px;
    border-radius: 17px;
    background-color: var(--lightAccent);
    text-align: center;
    transition-duration: 0.2s;
    user-select: none;
}
.competence-categorie:hover{
    transform: scale(1.02) rotate(1deg);
}
.competence-categorie-title{
    color: var(--accent);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.competence-categorie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.competence-categorie-list-item{
    text-align: left;
}
.competence-categorie-list-item > i{
    font-size: 50px;
    color: var(--accent);
}
.competence-categorie-list-item > p:nth-child(2){
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.competence-categorie-list-item > p:nth-child(3){
    font-size: 13px;
    color: black;
}

/* PARCOURS */
.parcours{
    background-color: var(--lightAccent);
    width: 100%;
    padding: 10%;
}

.parcours h2{
    margin-top: 4rem;
}
.parcours h2:first-child{
    margin-top: 0;
}

.timeline {
    position: relative;
    padding-left: 20px;
    margin: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 5px;
    height: 100%;
    background-color: var(--accent);
}

.timeline-element {
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;
}
.timeline-element h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.timeline-element h4{
    font-size: 16px;
    font-weight: normal;
    color: var(--accent);
}
.timeline-element div{
    margin-top: 8px;
    font-size: 18px;
}

.timeline-element::before {
    content: '';
    position: absolute;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 2px solid var(--lightAccent);
}

/* REALISATIONS */
.realisations{
    background-color: white;
    width: 100%;
    padding: 10%;
}
.card-list{
    margin-top: 20px;
    list-style: none;
}
.card-list .card-item .card-link{
    width: 300px;
    display: block;
    background-color: var(--lightAccent);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 3px solid transparent;
    transition-duration: 0.2s;
}
.card-list .card-item .card-link:hover{
    border-color: var(--accent);
}
.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio:  16 / 9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badges{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 0;
}
.card-list .card-link .badge{
    color: var(--accent);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: white;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}
.card-list .card-link .card-button{
    padding: 0;
    color: var(--accent);
    margin: 25px 0 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    border-radius: 50%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    border: 3px solid var(--accent);
}
.card-list .card-link .card-button img{
    width: 30px;
    height: 30px;
}
.card-description{
    text-decoration: none;
    color: rgb(34, 34, 34);
    margin-top: 5px;
}

/* HOBBIES */
.hobbies{
    width: 100%;
}
.hobbies .hobby{
    background-color: var(--lightAccent);
    width: 100%;
    padding: 10%;
    display: flex;
    gap: 2rem;
}
.hobbies .hobby:nth-child(even) {
    background-color: white;
    flex-direction: row-reverse;
}
.hobby-image img{
    height: 50vh;
    border-radius: 12px;    
}
.hobby-content{
    flex: 1;
}


/* CONTACT */
.contact{
    border-top: 4px solid var(--lightAccent);
    background-color: white;
    width: 100%;
    padding: 10%;
}
.contact a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-top: 20px;
    transition-duration: 0.2s;
}
.contact a:hover{
    margin-left: 5px;
}
.contact strong{
    font-weight: 500;
    color: var(--accent);
}