.production-main {
    width: 100%;
    min-height: 95vh;
    padding: 10%;
}

.production-header {
    width: 100%;
    background-color: var(--lightAccent);
    border-radius: 12px;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.production-header-title {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.production-header-title img {
    height: 100px;
    border-radius: 12px;
}
h1 {
    font-size: 1.6rem;
}