.production-main {
    width: 100%;
    min-height: 95vh;
    padding: 10%;
    padding-top: calc(80px + 2rem);
    max-width: 1000px;
    margin: 0 auto;
}

.production-header {
    width: 100%;
    background-color: var(--lightAccent);
    border-radius: 12px;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.production-header-title {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.production-header-title img {
    height: 100px;
    border-radius: 12px;
}
h1 {
    font-size: 1.6rem;
}

.content {
    text-align: justify;
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
}

.content figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.content figcaption {
    font-size: 0.9rem;
    text-align: center;
    color: #666;
    margin-top: 0.5rem;
}

.content pre {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    overflow-x: auto;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.content ol, .content ul {
    padding-left: 2rem;
}

.content li {
    padding-left: 0.5rem;
}

@media (max-width: 720px) {
    .production-main {
        padding-top: 10%;
    }
    .production-header {
        flex-direction: column;
        gap: 1rem;
    }
    .production-header-title {
        flex-direction: column;
        gap: 1rem;
    }
}
