.production-main {
    width: 100%;
    min-height: 95vh;
    padding: 10%;
    padding-top: calc(80px + 2rem);
    max-width: 1000px;
    margin: 0 auto;
}

.production-header {
    width: 100%;
    background-color: var(--lightAccent);
    border-radius: 12px;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.production-header-title {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.production-header-title img {
    height: 100px;
    border-radius: 12px;
}
h1 {
    font-size: 1.6rem;
}

.content {
    text-align: justify;
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (max-width: 720px) {
    .production-main {
        padding-top: 10%;
    }
    .production-header {
        flex-direction: column;
        gap: 1rem;
    }
    .production-header-title {
        flex-direction: column;
        gap: 1rem;
    }
}