* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    user-select: none;
}

.background-text text {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    fill: rgba(0, 0, 0, 0.04); 
}

#grillon-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    transition-timing-function: linear;
    z-index: 1;
}
#grillon {
    width: 8vw;
    --deg: 0deg;
    --step: 15deg;
    --scaleX: 1;
    animation: none;
    transform: scaleX(var(--scaleX)) rotate(var(--deg));
}
#grillon.moving {
    animation: moveing 150ms infinite;
}

@keyframes moveing {
    0% {
        transform: scaleX(var(--scaleX)) rotate(calc(var(--deg) + var(--step)));
    }
    50% {
        transform: scaleX(var(--scaleX)) rotate(calc(var(--deg) - var(--step)));
    }
    100% {
        transform: scaleX(var(--scaleX)) rotate(calc(var(--deg) + var(--step)));
    }
}