<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block meta %}
    {% endblock %}

    <title>{% block title %}Gémino Ruffault--Ravenel{% endblock %}</title>

    <meta name="theme-color" content="#E6F1EE">
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/775cfaa791.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
    {% endblock %}

    {% block importmap %}{{ importmap('app') }}{% endblock %}

</head>
<body>

    <!-- HEADER -->
    <header>
        <nav>
            <ul>
                <li><a href="/#competences">Compétences</a></li>
                <li><a href="/#parcours">Parcours</a></li>
                <li><a href="/#realisations">Réalisations</a></li>
                <li><a href="/#hobbies">Centres d'intérêt</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <!-- FOOTER -->
    <footer>
        <p>Gémino Ruffault--Ravenel</p>
        <a href="https://gemino.dev">gemino.dev</a>
     </footer>

    <!-- SCRIPTS-->
    {% block javascripts %}
    {% endblock %}

</body>
</html>
