.page-hero{
    width: 100%;
    padding: 10% 10% 5% 10%;
}

.title{
    text-align: center;
    font-size: 2rem;
}
.subtitle{
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

section{
    width: 100%;
    padding: 10%;
}
section.white{
    background-color: white;
}
section.green{
    background-color: var(--lightAccent)
}

main{
    padding: 10%;
    padding-top: 0;
}

.getsa{
    width: 100%;
}