/* GENERAL */
:root{
    --accent: #3D826F;
    --lightAccent: #E6F1EE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
}

/* TEXTS */
h2{
    font-size: 40px;
}

/* BUTTONS */
button{
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 8px;
}
button a{
    color: inherit;
    text-decoration: none;
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}

.accent-btn{
    background-color: var(--accent);
    color: white;
}

.lightaccent-btn{
    background-color: var(--lightAccent);
    color: black;
}

/* HEADER */
header {
    background-color: white;
    border-bottom: 4px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}
nav ul li a:hover {
    color: var(--accent);
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    position: relative;
    height: 100vh;
}
.hero-left{
    position: absolute;
    width: 35%;
    left: 0;
    top: 30vh;
}
.hero-right{
    position: absolute;
    width: 35%;
    right: 0;
    top: 20vh;
}

.hero-title {
    font-size: 90px;
    position: absolute;
    left: 10%;
    top: 40vh;
}

.hero-title .first-name {
    color: var(--accent);
}

.hero-title .last-name {
    color: black;
}

.hero-me{
    position: absolute;
    width: 20%;
    border-radius: 50%;
    right: 12%;
    top: calc(20vh + 45px);
}

.hero-buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* PARCOURS */
.parcours{
    background-color: var(--lightAccent);
    width: 100%;
    padding: 10%;
}
.timeline {
    position: relative;
    padding-left: 20px;
    margin: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 5px;
    height: 100%;
    background-color: var(--accent);
}

.timeline-element {
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;
}
.timeline-element h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.timeline-element h4{
    font-size: 16px;
    font-weight: normal;
    color: var(--accent);
}
.timeline-element p{
    font-size: 18px;
}

.timeline-element::before {
    content: '';
    position: absolute;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 2px solid var(--lightAccent);
}


/* COMPETENCES */
.competences{
    background-color: white;
    width: 100%;
    padding: 10%;
}
.competences-list{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.competence-categorie{
    padding: 30px 60px;
    border-radius: 17px;
    background-color: var(--lightAccent);
    text-align: center;
}
.competence-categorie-title{
    color: var(--accent);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.competence-categorie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.competence-categorie-list-item{
    text-align: left;
}
.competence-categorie-list-item > i{
    font-size: 50px;
    color: var(--accent);
}
.competence-categorie-list-item > p:nth-child(2){
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.competence-categorie-list-item > p:nth-child(3){
    font-size: 13px;
    color: black;
}

/* REALISATIONS */
.realisations{
    background-color: #E6F1EE;
    width: 100%;
    height: 70vh;
    padding: 10%;
}

/* FOOTER */
footer{
	height: auto;
	padding: 30px;
	background-color: var(--accent);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p{
	font-weight: 400;
    color: white;
}
footer a{
    cursor: pointer;
	font-weight: 400;
    color: white;
    text-decoration: none;
}
@media (max-width:720px) {
	footer{
		flex-direction: column;
	}
	footer p{
		text-align: center;
	}
}